<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Solids"></activity>
        <activity android:name=".Trigonometric_identities" />
        <activity android:name=".Trigonometry" />
        <activity android:name=".Trigonometrical_ratio" />
        <activity android:name=".Mid_point_theorem" />
        <activity android:name=".Inequalities" />
        <activity android:name=".Area_Theorems" />
        <activity android:name=".Factorials" />
        <activity android:name=".Cubes" />
        <activity android:name=".Squares" />
        <activity android:name=".Triangles" />
        <activity android:name=".Pythagoas_theorem" />
        <activity android:name=".Geometry" />
        <activity android:name=".Trigonometry_Table" />
        <activity android:name=".Math_Tables" />
        <activity android:name=".Banking" />
        <activity android:name=".Indices" />
        <activity android:name=".Logarithm" />
        <activity android:name=".Factorization" />
        <activity android:name=".Expansions" />
        <activity android:name=".Arithmetic" />
        <activity android:name=".AboutUs" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>